$margin: 5px;

.student {
  background: #9da0a4;
  width: 300px;
  min-height: 10px;
  margin-bottom: $margin;
  color: white;
  padding: $margin;
  position: relative;

  &__name {
    display: inline;
    margin-right: $margin;
  }

  &__age {
    display: inline;
    background: black;
    padding: $margin;
  }

  &__delete {
    position: absolute;
    padding: $margin;
    display: inline;
    top: 0px;
    right:0px;
    cursor: pointer;
    background: red;
  }

}